
.metadata/.plugins/org.eclipse.core.resources/.history/e8/00d03e00efc600181108b7b532baef62
*.fdt
*.fdx
*.frq
*.rss
*.png
.metadata/.log
.metadata/.log
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/12/902b793a2fc700181108b7b532baef62
